#wysiwyg {
    padding: 20px;

    .customclass {
        color: red;
        border: 1px solid blue;
    }

    .formTitle {
        padding-bottom: 10px;
        border-bottom: 1px gray solid;
        margin-bottom: 10px;
    }
}