#assets_screen {
    div[data-testid="iconButton"] {
        align-content: center;
        margin-bottom: 10px;

        button {
            border: 1px black solid;
            color: black;
        }
    }
}