.dr__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-items: center;
}

.dr__form_item {
  width: 100%;
}

.dr__row {
  width: 100%;
  column-gap: 20px;
}

.dr__tab_pane {
  width: 100%;
}


.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.error-message {
  color: #ff4d4f;
  padding-left: 4px;
}

.dr_button {
  // width: 100%;
}

.dr_table {
  width: 100%;
}