div[data-testid="hr"] {
    width: 100%;
}

.wrapperButtons {
    justify-content: center;

    .ant-col {
        width: 140px;
    }
}

.vertical_form {
    flex-direction: column;
    align-items: center;
}

.city_state {
    justify-content: center;

    .ant-col {
        width: 140px;
    }

    input {
        width: 140px;
    }
}

#add_students_screen {
    width: 100%;
}

#worky_signup_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
}

#signup_email_screen {
    width: 50%;
    margin: auto;
}

#signup_email_screen,
#worky_signup_screen,
#add_students_screen
{
    .worky_text {
        border-left: solid 10px darkblue;
        width: 300px;
        height: 50px;
        background-color: #f2f2f2;
    }
}