#add_asset_screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    > form {
        width: 100%;
        height: 100%;
    }

    .dynamic__form {
        width: 100%;
        height: 100%;
    }

    div[data-testid='map'] {
        width: 100%;
        height: 100%;
    }
}
