@import '~antd/dist/reset.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  justify-content: center;
}

.vertical_form {
  flex-direction: column;
  align-items: center;
}

.greenfi-anonymous-layout {
  display: flex;
}

.greenfi-background {
  flex: 1;
  background-image: url('./greenfi-background.png');
  height: 700px;
}

.greenfi-logo {
  max-height: 64px;
  margin-bottom: 20px;
}

.white-background {
  background-color: white;
  height: 100vh;
}

.greenfi-navigation {
  border: none;
}

.greenfi-footer {
  text-align: center;
  line-height: 6;
  background-color: #01401C;
}

.greenfi-slider {
  background-color: #01401C;
  height: 100vh;
  display: flex;
  justify-content: space-between;

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.site-layout-content {
  padding: 0 50px;
  display: flex;
  overflow: overlay;
  margin-top: 10px
}
